html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0ox;
}

.menu {
    background-color: lightgray;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 55px;
    font-family: Orbitron;
}

.link {
    position: absolute;
    top: 3%;
    right: 4%;
}

.link a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Orbitron;
}

.link a:hover {
    color: gray;
}

.profile {
    background-color: lightgray;
    width: 18.4%;
    height: 36%;
    position: absolute;
    top: 100px;
    right: 4%;
}

.profile img {
    position: absolute;
    top: 15px;
    left: 5%;
    width: 87%;
    height: 55%;
}

.profile h2 {
    position: absolute;
    top: 63%;
    left: 5%;
}

.profile p {
    position: absolute;
    top: 74%;
    left: 5%;
}

.profile a {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 95%;
    left: 5%;
}

.side-right {
    background: lightgray;
    width: 18.4%;
    height: 600px;
    position: absolute;
    top: 480px;
    right: 4%;
}

.side-right-naiyo {
    position: absolute;
    top: 8px;
    left: 8px;
}

.to-top a {
    color: black;
    text-decoration: none;
    background: rgb(151, 151, 151);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
}

.naiyo {
    background: lightgray;
    position: absolute;
    top: 100px;
    left: 5%;
    width: 71%;
    height: 2000px;
}

.naiyo h1 {
    text-align: center;
    font-size: 50px;
    font-family: Orbitron;
}
