* {
    margin: 0px;
    padding: 0ox;
}

.menu {
    background-color: lightgray;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 55px;
    font-family: Orbitron;
    transition: 0.2s;
}

.logo a:hover {
    color: rgb(112, 112, 112);
}

.link {
    position: absolute;
    top: 3%;
    right: 4%;
}

.link a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Orbitron;
    transition: 0.2s;
}

.link a:hover {
    color: gray;
}

.profile {
    width: 18.4%;
    height: 36%;
    position: absolute;
    top: 100px;
    right: 4%;
}

.profile img {
    position: absolute;
    top: 15px;
    left: 5%;
    width: 87%;
    height: 55%;
}

.profile h2 {
    position: absolute;
    top: 63%;
    left: 5%;
}

.profile p {
    position: absolute;
    top: 74%;
    left: 5%;
}

.profile a {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 95%;
    left: 5%;
    transition: 0.2s;
}

.profile a:hover {
    color: gray;
}

.side-right {
    width: 18.5%;
    height: 1620px;
    position: absolute;
    top: 480px;
    right: 4%;
}

.side-right-naiyo {
    position: absolute;
    top: 8px;
    left: 8px;
}

.naiyo {
    background: lightgray;
    position: absolute;
    top: 100px;
    left: 5%;
    width: 71%;
    height: 2000px;
}

.naiyo h1 {
    text-align: center;
    font-size: 300%;
    font-family: Orbitron;
}

#btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

.back {
    background: gray;
    position: absolute;
    top: 100px;
    rightrightright: 4%;
    width: 18.5%;
    height: 5000px;
}
